<!-- PAYLOAD -->
	<div class="payload-content">
		<div class="payload-rows">
			<div class='payload-left'>
				<!-- PAYLOAD TOP SECTION -->
				<div class="payload-left-top">
					<div class="payload-tech-1">
						<h2>PAYLOAD</h2>
						<p>Falcon Heavy missions will deliver large payloads to orbit inside a composite fairing, but the rocket can also carry the Dragon spacecraft.</p>
					</div>
					<div class="payload-tech-2">
						<h3>COMPOSITE FAIRING</h3>
						<p>The composite payload fairing protects satellites during delivery to destinations in low Earth orbit (LEO), geosynchronous transfer orbit (GTO) and beyond.</p>
					</div>
				</div>

				<!-- SECOND STAGE -->
				<div class="payload-left-secondStage">
					<h2>SECOND STAGE</h2>
					<p>Falcon Heavy draws upon Falcon 9’s proven design, which minimizes stage separation events and maximizes reliability. The second-stage Merlin engine, identical to its counterpart on Falcon 9, delivers the rocket’s payload to orbit after the main engines cut off and the first-stage cores separate. The engine can be restarted multiple times to place payloads into a variety of orbits including low Earth, geosynchronous transfer orbit (GTO) and  geosynchronous orbit (GSO).</p>
					<div class="payload-left-secondStage-block">
						<div class="block-engine">
							<h4>ENGINE</h4>
						</div>
						<div class="block-thrust">
							<h4>BURN TIME</h4>
						</div>
					</div>

					<div class="payload-left-secondStage-block2">
						<div class="block-num">
							<h3>1</h3>
						</div>
						<div class="block-sec">
							<h3>397<span>sec</span></h3>
						</div>
					</div>

					<div class="payload-left-secondStage-block4">
						<div class="block-top">
							<h3>THRUST IN VACUUM</h3>
						</div>
						<div class="block-bottom">
							<h4>934<span class="span1">kN</span> <span class="span2">210,000 lbf</span></h4>
						</div>
					</div>
				</div>

				<!-- FIRST STAGE -->
				<div class="payload-left-firstStage">
					<h2>FIRST STAGE</h2>
					<p>Three cores make up the first stage of Falcon Heavy. The side cores, or boosters, are connected  at the base and at the top of the center core’s liquid oxygen tank. The three cores, with a total of 27 Merlin engines, generate 22,819 kilonewtons (5.13 million pounds) of thrust at liftoff. Shortly after liftoff the center core engines are throttled down. After the side cores separate, the center core engines throttle back up to full thrust.</p>
					<div class="payload-left-firstStage-block">
						<div class="block-engine">
							<h4>CORES</h4>
						</div>
						<div class="block-thrust">
							<h4>ENGINES</h4>
						</div>
					</div>

					<div class="payload-left-firstStage-block2">
						<div class="block-num">
							<h3>3</h3>
						</div>
						<div class="block-sec">
							<h3>27</h3>
						</div>
					</div>

					<div class="payload-left-firstStage-block3">
						<div class="block-top">
							<h3>THRUST AT SEA LEVEL</h3>
						</div>
						<div class="block-bottom">
							<h4>22,819<span class="span1">kN</span> <span class="span2">5,130,000 lbf</span></h4>
						</div>
					</div>

					<div class="payload-left-firstStage-block4">
						<div class="block-top">
							<h3>THRUST IN VACUUM</h3>
						</div>
						<div class="block-bottom">
							<h4>24,681<span class="span1">kN</span> <span class="span2">5,548,500 lbf</span></h4>
						</div>
					</div>
				</div>

				<div class="payload-content-box">
					<div class="box-header">
						<h3>BOOSTERS</h3>
					</div>
					<div class="box-description">
						<p>Each of Falcon Heavy’s side cores, or boosters, is equivalent to the first stage of a Falcon 9 rocket with nine Merlin engines. At liftoff, the boosters and the center core all operate at full thrust. Shortly after liftoff, the center core engines are throttled down. After the side cores separate, the center core engines throttle back up.</p>
					</div>
				</div>

				<div class="payload-content-box">
					<div class="box-header box2">
						<h3>THREE NINE-ENGINE CORES</h3>
					</div>
					<div class="box-description">
						<p>Inside each of Falcon Heavy’s three cores is a cluster of nine Merlin engines.  These same engines power Falcon 9, enabling efficiencies that make Falcon Heavy the most cost-effective heavy-lift launch vehicle in the world. With a total of 27 first-stage engines, Falcon Heavy has engine-out capability that no other launch vehicle can match—under most payload scenarios, it can sustain more than one unplanned engine shutdown at any point in flight and still successfully complete its mission.</p>
					</div>
				</div>


				<div class="payload-bottom-feature">
					<div class="feature-img">
						<img src="../assets/falcon-heavy-merlin-engines.png" alt="">
					</div>
					<div class="feature-desc">
						<h5>FIG. 2</h5>
						<p>Core / Engine Layout</p>
					</div>
				</div>
			</div>


			<div class="payload-right">
				<img class="heavy-main-img" src="../assets/falcon-heavy-render.png" alt="">
			</div>
		</div>
	</div>
