<div class="intro">
	<div class="intro-header">
		<h1>INSIDE THE SPACECRAFT</h1>
	</div>
	<div class="intro-desc">
		<p>The Dragon spacecraft has three configurations to meet a variety of needs: cargo, crew and DragonLab. To ensure a rapid transition from cargo to crew capability, the cargo and crew configurations of Dragon are almost identical. This commonality simplifies the human rating process, allowing systems </p>
		<p>critical to crew and space station safety to be fully tested on unmanned cargo flights. With DragonLab, essentially the same spacecraft can be used as a platform for in-space technology demonstrations and experiments.</p>
	</div>
</div>

<div class="main-container">

	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a [routerLink]="['dragon/cargo']">CARGO <span class="sr-only">(current)</span></a></li>
        <li><a [routerLink]="['dragon/crew']">CREW</a></li>
        <li><a [routerLink]="['dragon/dragonlab']">DRAGONLAB</a></li>

      </ul>


    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>





</div>
