<div class="intro">
	<div class="intro-header">
		<h1>INSIDE THE SPACECRAFT</h1>
	</div>
	<div class="intro-desc">
		<p>The Dragon spacecraft has three configurations to meet a variety of needs: cargo, crew and DragonLab. To ensure a rapid transition from cargo to crew capability, the cargo and crew configurations of Dragon are almost identical. This commonality simplifies
			the human rating process, allowing systems </p>
		<p>critical to crew and space station safety to be fully tested on unmanned cargo flights. With DragonLab, essentially the same spacecraft can be used as a platform for in-space technology demonstrations and experiments.</p>
	</div>
</div>

<div class="main-container">

	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li><a href="#">CARGO <span class="sr-only">(current)</span></a></li>
					<li class="active"><a href="#">CREW</a></li>
					<li><a href="#">DRAGONLAB</a></li>
				</ul>


			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

	<div class="content-img">
		<img src="../assets/tabs/dragon-v2-interior-wide-cropped.jpg" alt="">
	</div>

	<div class="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h2>
						TAKING
						<br>
						HUMANS TO
						<br>
						SPACE
					</h2>
				</div>
				<div class="col-md-3">
					<h3>
						<span>01</span> PARTNERSHIP WITH NASA
					</h3>
					<p>
						Dragon was designed from the outset to fly humans to space. Under an agreement with NASA, SpaceX is making upgrades to Dragon to allow for crew carrying capability.
					</p>
				</div>
				<div class="col-md-3">
					<h3>
						<span>02</span> CREW UPGRADES
					</h3>
					<p>
						Dragon will be the world’s safest and most reliable crew transport vehicle, with seating for seven, life-support systems, controls with manual capability, and a powered launch escape system.
					</p>
				</div>
				<div class="col-md-3">
					<h3>
						<span>03</span> FIRST LAUNCH
					</h3>
					<p>
						Upgrades to Dragon are currently in progress. Dragon’s first manned test flight is expected to take place in the next 2-3 years.
					</p>
				</div>
			</div>
		</div>
	</div>





</div>
