<div class="top">
	<div class="top-img">
		<img src="./assets/spaceX-logo.jpg" alt="">
	</div>
</div>

<div class="nav-header">
	<nav>
		<div class="nav-container">
			<ul>
				<li><a [routerLink]="['mens']">MENS</a></li>
				<li><a [routerLink]="['womens']">WOMENS</a></li>
				<li><a [routerLink]="['kids']">KIDS</a></li>
				<li><a [routerLink]="['accessories']">ACCESSORIES</a></li>
				<li><a [routerLink]="['premium']">PREMIUM</a></li>
				<li><a [routerLink]="['/shop/cart']"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</nav>
</div>



<div class="container">
	<div class="content-img">
		<img src="./assets/spacex-merch.jpg" alt="">
	</div>
	<h2>Welcome to the SpaceX Store!</h2>
</div>
