<!-- COMPARABLE IMAGE BOX -->
<div class="bottom-comparables">
	<div class="comp-title">
		<h2>THE WORLD'S MOST POWERFUL ROCKET</h2>
	</div>
	<div class="comp-desc">
		<p><span>WITH MORE THAN 5 MILLION POUNDS OF THRUST AT LIFTOFF, FALCON</span> Heavy will be the most capable rocket flying. By comparison, the liftoff thrust of the Falcon Heavy equals approximately eighteen 747 aircraft at full power. Below is a comparison chart of the world’s heavy lift vehicles, based on historical launch data. Falcon Heavy can lift the equivalent of a fully loaded 737 jetliner--complete with passengers, luggage and fuel--to orbit.  Only the Saturn V moon rocket, last flown in 1973, delivered more payload to orbit than Falcon Heavy.</p>
	</div>
	<div class="comp-img">
		<img src="../assets/fhgraphic_updated.jpg" alt="">
	</div>
</div>
