<div class="main">
	<div class="content-top">
		<h2 class="content-header">MAKING HISTORY</h2>
		<p class="content-desc">
			SpaceX has gained worldwide attention for a series of historic milestones. It is the only private company ever to return a spacecraft from low-Earth orbit, which it first accomplished in December 2010. The company made history again in May 2012 when its Dragon spacecraft attached to the International Space Station, exchanged cargo payloads, and returned safely to Earth — a technically challenging feat previously accomplished only by governments. Since then Dragon has delivered cargo to and from the space station multiple times, providing regular cargo resupply missions for NASA.
		</p>
	</div>

	<div class="content-middle">

	</div>

	<div class="content-bottom">
		<h2 class="content-header">ADVANCING THE FUTURE</h2>
		<p class="content-desc">
			Under a $1.6 billion contract with NASA, SpaceX is flying numerous cargo resupply missions to the International Space Station, for a total of at least 20 flights under the Commercial Resupply Services contract. In 2016, NASA awarded SpaceX a second version of that contract that will cover a minimum of 6 additional flights from 2019 onward. In the near future, SpaceX will carry crew as part of NASA’s Commercial Crew Program as well. Dragon was designed from the outset to carry astronauts and SpaceX is in the process of upgrading Dragon to make it crew-ready. SpaceX is the world’s fastest-growing provider of launch services and has over 70 future missions on its manifest, representing over $10 billion in contracts. These include commercial satellite launches as well as NASA and other US Government missions.
		</p>
		<p class="desc2">
			Currently under development is the Falcon Heavy, which will be the world’s most powerful rocket. All the while, SpaceX continues to work toward one of its key goals—developing reusable rockets, a feat that will transform space exploration by delivering highly reliable vehicles at radically reduced costs.
		</p>
	</div>
</div>
