<!-- TOP IMAGE -->
<div class=top-img>
	<img src="assets/falcon_9_product_image2_0.jpg" alt="">
	<!-- <h1>FALCON 9 &amp; DRAGON TO RETURN ASTRONAUTS TO SPACE</h1> -->
</div>

<!-- FALCON 9 -->
<div class="falcon9-content">
	<div class="intro-container">
		<div class="intro-top">
			<div class="intro-title">
				<h1>FALCON 9</h1>
			</div>

			<div class="intro-photos">
				<img src="./assets/mini-falcon2.png" class="mini-falcon" height="346" width="26">
				<div class="nav-1">
					<img src="./assets/falcon9-1.png" class="img" height="75" width="75" alt="Falcon 9 thumbnail">
					<br>
					<span>Photo</span>
					<br>
					Gallery
					<br>
					<a href="#">SEE ALL</a>
				</div>
				<div class="nav-2">
					FALCON 9 <a href="#">PRICING</a>
				</div>
				<div class="nav-3">
					<a href="#">LAUNCH MANIFEST</a>
				</div>
				<div class="nav-4">
					FALCON 9 <a href="#">USER'S GUIDE</a>
				</div>
			</div>
		</div>

		<div class="info-container">
			<div class="span4">
				<p id="span-left">Falcon 9 is a two-stage rocket designed and manufactured by SpaceX for the reliable and safe transport of satellites and the Dragon spacecraft into orbit. As the first rocket completely developed in the 21st century, Falcon 9 was designed from the ground up for maximum reliability. Falcon 9’s simple two-stage configuration minimizes the number of separation events -- and with nine first-stage engines, it can safely complete its mission even in the event of an engine shutdown.</p>
			</div>
			<div class="span4">
				<p id="span-right">Falcon 9 made history in 2012 when it delivered Dragon into the correct orbit for rendezvous with the International Space Station, making SpaceX the first commercial company ever to visit the station. Since then SpaceX has made multiple flights to the space station, both delivering and returning cargo for NASA. Falcon 9, along with the Dragon spacecraft, was designed from the outset to deliver humans into space and under an agreement with NASA, SpaceX is actively working toward that goal.</p>
			</div>
		</div>
	</div>
</div>


<!-- PAYLOAD -->
<div class="payload-content">
	<div class="payload-rows">
		<div class="payload-left">
			<div class="payload-left-top">
				<div class="payload-tech-1">
					<h2>PAYLOAD</h2>
					<p>Falcon 9 delivers payloads to space aboard the Dragon spacecraft or inside a composite fairing.</p>
				</div>
				<div class="payload-tech-2">
					<h3>DRAGON SPACECRAFT</h3>
					<p>Dragon carries cargo in the spacecraft’s pressurized capsule and unpressurized trunk, which can also accommodate secondary payloads. In the future, Dragon will carry astronauts in the pressurized capsule as well.</p>
					<a href="#">LEARN MORE ABOUT DRAGON</a>
				</div>
				<div class="payload-tech-2">
					<h3>COMPOSITE FAIRING</h3>
					<p>The payload fairing is for the delivery of satellites to destinations in low Earth orbit (LEO), geosynchronous transfer orbit (GTO) and beyond.</p>
					<a href="#">SEE COMPOSITE FAIRING ON FALCON HEAVY</a>
				</div>
			</div>

			<div class="payload-left-interstage">
				<h2>INTERSTAGE</h2>
				<p>The interstage is a composite structure that connects the first and second stages and holds the release and separation system. Falcon 9 uses an all-pneumatic stage separation system for low-shock, highly reliable separation that can be tested on the ground, unlike pyrotechnic systems used on most launch vehicles.</p>
			</div>
		</div>



		<div class="payload-center">
			<img src="./assets/falcon9-render.png" alt="">
		</div>

		<div class="payload-right">

		</div>
	</div>
</div>
