.all-content {
	width: 990px;
	margin: 0 auto;
}


/* Bottom White Container*/
.container-bottom {
	width: 100%;
	height: 1100px;
	background-color: #ffffff;
	margin: 0 auto;
}
.bottom-main-content {
	width: 990px;
	height: 100%;
	/*border: 1px solid #cccccc;*/
	margin: 60px auto;
}
