<!-- Bottom Black Box -->
<div class="container bottom-box">
	<div class="row">
		<div class="col-sm-12">
			<h3>Technical Overview</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h4>HEIGHT</h4>
		</div>
		<div class="col-sm-3">
			<h4>MASS</h4>
		</div>
		<div class="col-sm-3">
			<h4>PAYLOAD TO <span id="text-gold">LEO</span></h4>
		</div>
		<div class="col-sm-3">
			<h4>PAYLOAD TO <span id="text-gold">MARS</span></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h5>70 m <span>229.6 ft</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>549,054 kg <span>1,207,920 lb</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>22,800 kg <span>50,265 lb</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>4,020 kg <span>8,860 lb</span></h5>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">
			<h4>DIAMETER</h4>
		</div>
		<div class="col-sm-3">
			<h4>STAGES</h4>
		</div>
		<div class="col-sm-3">
			<h4>PAYLOAD TO <span id="text-gold">GTO</span></h4>
		</div>
		<div class="col-sm-3"></div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h5>3.7 m <span>12 ft</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>2</h5>
		</div>
		<div class="col-sm-3">
			<h5>8,300 kg <span>18,300 lb</span></h5>
		</div>
		<div class="col-sm-3"></div>
	</div>
</div>
