/* Top image */
.top-img img {
	width: 100%;
	position: relative;
}
.top-img-text {
	position: absolute;
	z-index: 100;
	width: 100%;
}
.top-img-text h1 {
	font-size: 50px;
	line-height: 50px;
	font-weight: 300;
	color: #ffffff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 250px;
}
.top-img-text img {
	width: 40px;
	height: 40px;
}

.play-icon a {
	text-decoration: none;
	color: #ffffff;
}

.fa-2x {
	font-size: 1.6em;
}
