<div class="top-img">
	<div class="top-img-text">
		<h1>
			SpaceX designs, manufactures and launches advanced rockets and
			<br>
			spacecraft. The company was founded in 2002 to revolutionize
			<br>
			space technology, with the ultimate goal of enabling people to live on
			<br>
			other planets.
		</h1>
	</div>
	<img src="./assets/spacex_about_company_01_0.jpg" alt="">
</div>


<div class="white-box">
	<div class="container black-box">
		<div class="row">
			<div class="col-sm-4">
				<h3>QUICK FACTS ABOUT SPACEX:</h3>
			</div>
			<div class="col-sm-2 border-left">
				<h5>FOUNDED</h5>
				<h4>2002</h4>
			</div>
			<div class="col-sm-2 border-left">
				<h5>VEHICLES</h5>
				<h4>3</h4>
			</div>
			<div class="col-sm-2 border-left">
				<h5>MANIFEST</h5>
				<h4>70+</h4>
			</div>
			<div class="col-sm-2 border-left">
				<h5>EMPLOYEES</h5>
				<h4>4,000+</h4>
			</div>
		</div>
	</div>


	<div class="videos">
		<div class="youtube">
			<iframe class="vid1" width="450" height="253" src="https://www.youtube.com/embed/ujX6CuRELFE" frameborder="0" allowfullscreen></iframe>
			<iframe width="450" height="253" src="https://www.youtube.com/embed/Ndpxuf-uJHE" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="bottom-button">
			<a class="mr-button" href="http://www.youtube.com/spacex">View more Spacex videos</a>
		</div>
	</div>

</div>
