<!-- Bottom Black Box -->
<div class="container bottom-box">
	<div class="row">
		<div class="col-sm-12">
			<h3>Technical Overview</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h4>HEIGHT WITH TRUNK</h4>
		</div>
		<div class="col-sm-3">
			<h4>DIAMETER</h4>
		</div>
		<div class="col-sm-3">
			<h4>SIDEWALL ANGLE</h4>
		</div>
		<div class="col-sm-3">
			<h4>ORBIT DURATION</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3">
			<h5>7.2 m <span>23.6 ft</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>3.7 m <span>12 ft</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>15°</h5>
		</div>
		<div class="col-sm-3">
			<h5>Up to 2 Years</h5>
		</div>
	</div>

</div>
