/* Bottom Technical Box */
.bottom-box {
	width: 1050px;
	height: 145px;
	background-color: black;
	margin: 20px auto 80px auto;
	padding: 0 35px;
}
.bottom-box h3 {
	font-size: 14px;
	line-height: 11px;
	color: #ffffff;
	font-weight: bold;
}

.bottom-box h4 {
	font-size: 12px;
	color: #666666;
	line-height: 12px;
	border-bottom: 1px solid #666666;
}

.bottom-box .row h5 {
	font-size: 20px;
	line-height: 20px;
	color: #ffffff;
}
.bottom-box .row span {
	font-size: 17px;
	line-height: 17px;
	color: #999999;
}
