<div class="main">
	<div class="main-content">
		<div class="top-img">
			<img src="./assets/mars_transition.jpg" alt="">
		</div>
		<div class="main-header">
			<h1>Road to the Red Planet</h1>
		</div>
		<div class="description">
			<p>SpaceX was founded under the belief that a future where humanity is
				out exploring the stars is fundamentally more exciting than one where we are not.
				Today SpaceX is actively developing the technologies to make this possible, with the
				ultimate goal of <strong>enabling human life on Mars</strong>.</p>
		</div>
		<div class="button">
			<a href="https://www.spacex.com/careers/list"><button class="btn btn-light button-top">BROWSE OPENINGS</button></a>
		</div>
	</div>
</div>
