<!-- PAYLOAD -->
<div class="payload-content">
	<div class="payload-rows">
		<div class="payload-left">
			<div class="payload-left-top">
				<div class="payload-tech-1">
					<h2>PAYLOAD</h2>
					<p>Falcon 9 delivers payloads to space aboard the Dragon spacecraft or inside a composite fairing.</p>
				</div>
				<div class="payload-tech-2">
					<h3>DRAGON SPACECRAFT</h3>
					<p>Dragon carries cargo in the spacecraft’s pressurized capsule and unpressurized trunk, which can also accommodate secondary payloads. In the future, Dragon will carry astronauts in the pressurized capsule as well.</p>
					<a href="#">LEARN MORE ABOUT DRAGON</a>
				</div>
				<div class="payload-tech-2">
					<h3>COMPOSITE FAIRING</h3>
					<p>The payload fairing is for the delivery of satellites to destinations in low Earth orbit (LEO), geosynchronous transfer orbit (GTO) and beyond.</p>
					<a href="#">SEE COMPOSITE FAIRING ON FALCON HEAVY</a>
				</div>
			</div>

			<div class="payload-left-interstage">
				<h2>INTERSTAGE</h2>
				<p>The interstage is a composite structure that connects the first and second stages and holds the release and separation system. Falcon 9 uses an all-pneumatic stage separation system for low-shock, highly reliable separation that can be tested on the
					ground, unlike pyrotechnic systems used on most launch vehicles.</p>
			</div>

			<div class="payload-left-firstStage">
				<h2>FIRST STAGE</h2>
				<p>Falcon 9’s first stage incorporates nine Merlin engines and aluminum-lithium alloy tanks containing liquid oxygen and rocket-grade kerosene (RP-1) propellant. After ignition, a hold-before-release system ensures that all engines are verified for full-thrust
					performance before the rocket is released for flight. Then, with thrust greater than five 747s at full power, the Merlin engines launch the rocket to space. Unlike airplanes, a rocket's thrust actually increases with altitude; Falcon 9 generates
					more than 1.7 million pounds of thrust at sea level but gets up to over 1.8 million pounds of thrust in the vacuum of space. The first stage engines are gradually throttled near the end of first-stage flight to limit launch vehicle acceleration as
					the rocket’s mass decreases with the burning of fuel.</p>
				<div class="payload-left-firstStage-block">
					<div class="block-engine">
						<h4>ENGINES</h4>
					</div>
					<div class="block-thrust">
						<h4>BURN TIME</h4>
					</div>
				</div>

				<div class="payload-left-firstStage-block2">
					<div class="block-num">
						<h3>9</h3>
					</div>
					<div class="block-sec">
						<h3>162<span>sec</span></h3>
					</div>
				</div>

				<div class="payload-left-firstStage-block3">
					<div class="block-top">
						<h3>THRUST AT SEA LEVEL</h3>
					</div>
					<div class="block-bottom">
						<h4>7,607 <span class="span1">kN</span> <span class="span2">1,710,000 lbf</span></h4>
					</div>
				</div>

				<div class="payload-left-firstStage-block4">
					<div class="block-top">
						<h3>THRUST IN VACUUM</h3>
					</div>
					<div class="block-bottom">
						<h4>8,227 <span class="span1">kN</span> <span class="span2">1,849,500 lbf</span></h4>
					</div>
				</div>

				<div class="payload-feature">
					<div class="payload-feature-img">
						<img src="../assets/falcon9-merlin-engines-solo.png">
					</div>
					<div class="payload-feature-info">
						<h3>FIG. 3</h3>
						<p>The nine Merlin engine Octaweb</p>
					</div>
				</div>
			</div>
		</div>


<!-- CENTER COLUMN -->
		<div class="payload-center">
			<img src="../assets/falcon9-render.png" alt="">
		</div>


<!-- RIGHT COLUMN -->
		<div class="payload-right">
			<div class="top-imgs">
				<div class="img-left">
					<img src="../assets/dragon-graphic3.png" alt="">
					<h3>FIG. 1</h3>
					<p>
						Dragon Spacecraft &amp;
						<br>
						Trunk
						<br>
						<i>8.1m (26.6 ft) height,</i>
						<br>
						<i>3.7m (12 ft) diameter</i>
					</p>
				</div>
				<div class="img-right">
					<img src="../assets/fairing-graphic.png" alt="">
					<h3>FIG. 2</h3>
					<p>
						Composite Fairing
						<br>
						<i>13.1m (43 ft) height,</i>
						<br>
						<i>5.2m (17.1 ft) diameter</i>
					</p>
				</div>
			</div>

			<div class="payload-right-secondStage">
				<h2>Second Stage</h2>
				<p>The second stage, powered by a single Merlin vacuum engine, delivers Falcon 9’s payload to the desired orbit. The second stage engine ignites a few seconds after stage separation, and can be restarted multiple times to place multiple payloads into different orbits. For maximum reliability, the second stage has redundant igniter systems. Like the first stage, the second stage is made from a high-strength aluminum-lithium alloy.</p>
			</div>

			<div class="payload-right-secondStage-block">
				<div class="block-engine">
					<h4>ENGINE</h4>
				</div>
				<div class="block-thrust">
					<h4>BURN TIME</h4>
				</div>
			</div>

			<div class="payload-right-secondStage-block2">
				<div class="block-num">
					<h3>1</h3>
				</div>
				<div class="block-sec">
					<h3>397<span>sec</span></h3>
				</div>
			</div>

			<div class="payload-right-secondStage-block3">
				<div class="block-top">
					<h3>Thrust</h3>
				</div>
				<div class="block-bottom">
					<h4>934<span class="span1">kN</span> <span class="span2">210,000 lbf</span></h4>
				</div>
			</div>

			<div class="payload-right-bottom">
				<div class="bottom-title">
					<h4>NINE MERLIN ENGINES</h4>
				</div>
				<div class="bottom-content">
					<p>With its nine first-stage Merlin engines clustered together, Falcon 9 can sustain up to two engine shutdowns during flight and still successfully complete its mission. Falcon 9 is the only launch vehicle in its class with this key reliability feature.</p>
				</div>
			</div>

		</div>
	</div>
</div>
