<!-- Bottom News Updates -->
<div class="bottom-news-updates">
	<div class="updates-row1">
		<div class="row1-header">
			<h2>FALCON 9 UPDATES</h2>
		</div>
		<div class="row1-content">
			<a href="#">SEE ALL UPDATES <span>→</span></a>
		</div>
	</div>

	<div class="updates-row2">
		<div class="row2-border">
			<div class="row2-1">
				<h4>FALCON 9 NEWS</h4>
			</div>
			<div class="row2-2">
				<a href="#">SEE ALL <span>→</span></a>
			</div>
		</div>
		<div class="row2-noborder">
			<div class="row2-3">
				<h5>FALCON 9 GALLERY</h5>
			</div>
			<div class="row2-4">
				<a href="#">SEE ALL <span>→</span></a>
			</div>
		</div>
	</div>

	<div class="updates-row3">
		<div class="row3-content">
			<p class="row-date">September 14, 2015</p>
			<h4 class="row-title">SPACEX SIGNS NEW COMMERCIAL LAUNCH CONTRACTS</h4>
			<p class="row-info">Two new orders for Falcon 9 and Falcon Heavy launch vehicles. <a href=#>READ ARTICLE</a></p>
		</div>
		<div class="row3-images">
			<div class="row3-img">
				<img src="../assets/thumbs/thumb1-100x100.jpg" alt="">
			</div>
			<div class="row3-img">
				<img src="../assets/thumbs/thumb17.jpg.png" alt="">
			</div>
			<div class="row3-img">
				<img src="../assets/thumbs/vid-thumb1.jpg.png" alt="">
			</div>
		</div>
	</div>

	<div class="updates-row4">
		<div class="row4-content">
			<p class="row-date">April 28, 2015</p>
			<h4 class="row-title">FALCON 9 LAUNCHES SATELLITE FOR THALES ALENIA SPACE</h4>
			<p class="row-info">Falcon 9's fifth launch in four months.  <a href=#>READ ARTICLE</a></p>
		</div>
		<div class="row4-images">
			<div class="row4-img">
				<img src="../assets/thumbs/thumb2-100x100.jpg" alt="">
			</div>
			<div class="row4-img">
				<img src="../assets/thumbs/thumb3-100x100.jpg" alt="">
			</div>
			<div class="row4-img">
				<img src="../assets/thumbs/thumb4-100x100.jpg" alt="">
			</div>
		</div>
	</div>

</div>
