<div class="top">
	<div class="top-img">
		<img src="../assets/spaceX-logo.jpg" alt="">
	</div>
</div>

<div class="nav-header">
	<nav>
		<div class="nav-container">
			<ul>
				<li><a [routerLink]="['/shop/mens']">MENS</a></li>
				<li><a [routerLink]="['/shop/womens']">WOMENS</a></li>
				<li><a [routerLink]="['/shop/kids']">KIDS</a></li>
				<li><a [routerLink]="['/shop/accessories']">ACCESSORIES</a></li>
				<li><a [routerLink]="['/shop/premium']">PREMIUM</a></li>
				<li><a [routerLink]="['/shop/cart']"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<div class="cart-content">
		<h1>Your Shopping Cart</h1>
	</div>

	<div class="divider">
		<hr>
	</div>
</div>
