<div class="navbar">
  <header class="header-nav">
    <div class="header-inner">

      <div class="navigation-links">

              <!-- Main Logo -->
        <div class="nav-logo">
          <a [routerLink]="['']" title="Home" rel="home" id="logo"><img src="../assets/logo.png" alt="home"></a>
        </div>

              <!-- Main Links -->
        <div class="nav-main">
          <ul class="menu">
            <li><a [routerLink]="['falcon9']" class="menu_main">Falcon 9</a></li>
            <li><a [routerLink]="['falcon-heavy']" class="menu_main">Falcon Heavy</a></li>
            <li><a [routerLink]="['dragon']" class="menu_main">Dragon</a></li>
            <li><a href="#" class="menu_main">Updates</a></li>
          </ul>
        </div>

              <!-- Secondary Links -->
        <div class="nav-secondary">
          <ul class="menu">
            <li><a href="#" class="menu_secondary">About SpaceX</a></li>
            <li><a href="#" class="menu_secondary">Careers</a></li>
            <li><a href="#" class="menu_secondary">Press</a></li>
            <li><a href="#" class="menu_secondary">Shop</a></li>
          </ul>
        </div>
      </div>

    </div>
  </header>
</div>
