<div>
  <img class="observatory-img" src="./assets/Observatory.png" alt="">
</div>

<div class="info-box">
  <div>
    <h2>MAKING LIFE MULTIPLANETARY</h2>
  </div>
</div>


<div class="content-box">
  <section class="vision-wrapper">
    <div class="vision">
      <h3>SPACEX DESIGNS, MANUFACTURES AND LAUNCHES ADVANCED ROCKETS AND SPACECRAFT</h3>
    </div>
  </section>
  <section class="updates">
    <!-- <div class="container">
      <div class="box-info">A</div>
      <div class="box-info">B</div>
      <div class="box-info">C</div>
    </div> -->
  </section>
</div>
