<div>
  <img class="observatory-img" src="./assets/Observatory.png" alt="">
</div>

<div class="info-box">
  <div class="info-box-inner">
    <a href="http://www.spacex.com/mars"><h2>MAKING LIFE MULTIPLANETARY</h2></a>
	 <a class="button-replay" href="http://www.spacex.com/mars"><button class="btn btn-light replay-button">WATCH REPLAY</button></a>
  </div>
</div>


<!-- Bottom White Container -->
<div class="container-bottom">
	<div class="bottom-main-content">

		<div class="content-bar">
			<h2>SPACEX DESIGNS, MANUFACTURES AND LAUNCHES ADVANCED ROCKETS AND SPACECRAFT</h2>
		</div>

		<div class="bottom-boxes">
			<!-- Box 1 -->
			<div class="bottom-boxX">
				<div class="box-main-content">
					<div class="bottom-box-top">
						<img src="assets/home_block_reusable.jpg" alt="">
					</div>
					<div class="bottom-box-bottom">
						<a href="http://www.spacex.com/news/2013/03/31/reusability-key-making-human-life-multi-planetary"><h3>
							REUSABILITY: THE KEY TO
							<br>
							MAKING HUMAN LIFE
							<br>
							MULTI-PLANETARY
						</h3></a>
						<p>LEARN MORE</p>
					</div>
				</div>
			</div>

			<!-- Box 2 -->
			<div class="bottom-boxY">
				<div class="box-main-content">
					<div class="bottom-box-top">
						<img src="assets/home_block_commercial_crew.jpg" alt="">
					</div>
					<div class="bottom-box-bottom">
						<h3>
							COMMERCIAL CREW:
							<br>
							TAKING AMERICA'S
							<br>
							ASTRONAUTS TO SPACE
						</h3>
						<p>LEARN MORE</p>
					</div>
				</div>
			</div>

			<!-- Box 3 -->
			<div class="bottom-boxZ">
				<div class="box-main-content">
					<div class="bottom-box-top">
						<img src="assets/home_block_careers.jpg" alt="">
					</div>
					<div class="bottom-box-bottom">
						<h3>JOIN THE SPACEX TEAM</h3>
						<p class="thirdBOX">LEARN MORE</p>
					</div>
				</div>
			</div>

		</div>
