<!-- FALCON 9 -->
<div class="falcon9-content">
	<div class="intro-container">
		<div class="intro-top">
			<div class="intro-title">
				<h1>FALCON 9</h1>
			</div>

			<div class="intro-photos">
				<img src="../assets/mini-falcon2.png" class="mini-falcon" height="346" width="26">
				<div class="nav-1">
					<img src="../assets/falcon9-1.png" class="img" height="75" width="75" alt="Falcon 9 thumbnail">
					<br>
					<span>Photo</span>
					<br> Gallery
					<br>
					<a href="#">SEE ALL</a>
				</div>
				<div class="nav-2">
					FALCON 9 <a href="#">PRICING</a>
				</div>
				<div class="nav-3">
					<a href="#">LAUNCH MANIFEST</a>
				</div>
				<div class="nav-4">
					FALCON 9 <a href="#">USER'S GUIDE</a>
				</div>
			</div>
		</div>

		<div class="info-container">
			<div class="span4">
				<p id="span-left">Falcon 9 is a two-stage rocket designed and manufactured by SpaceX for the reliable and safe transport of satellites and the Dragon spacecraft into orbit. As the first rocket completely developed in the 21st century, Falcon 9 was designed from the
					ground up for maximum reliability. Falcon 9’s simple two-stage configuration minimizes the number of separation events -- and with nine first-stage engines, it can safely complete its mission even in the event of an engine shutdown.</p>
			</div>
			<div class="span4">
				<p id="span-right">Falcon 9 made history in 2012 when it delivered Dragon into the correct orbit for rendezvous with the International Space Station, making SpaceX the first commercial company ever to visit the station. Since then SpaceX has made multiple flights to
					the space station, both delivering and returning cargo for NASA. Falcon 9, along with the Dragon spacecraft, was designed from the outset to deliver humans into space and under an agreement with NASA, SpaceX is actively working toward that goal.</p>
			</div>
		</div>
	</div>
</div>
