<div class="top">
	<div class="top-img">
		<img src="../assets/spaceX-logo.jpg" alt="">
	</div>
</div>

<div class="nav-header">
	<nav>
		<div class="nav-container">
			<ul>
				<li><a [routerLink]="['/shop/mens']">MENS</a></li>
				<li><a [routerLink]="['/shop/womens']">WOMENS</a></li>
				<li><a [routerLink]="['/shop/kids']">KIDS</a></li>
				<li><a [routerLink]="['/shop/accessories']">ACCESSORIES</a></li>
				<li><a [routerLink]="['/shop/premium']">PREMIUM</a></li>
				<li><a [routerLink]="['/shop/cart']"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<div class="accessories-collection">
		<div class="display-photo">
			<img src="../assets/spacex-dragon-v2-1-updated.jpg" alt="">
		</div>
		<h1>THE ACCESSORIES COLLECTION</h1>
	</div>

	<div class="divider">
		<hr>
	</div>

	<div class="bottom-boxes">
		<!-- REPEAT BOX -->
		<div class="repeat-box" *ngFor="let product of products">
			<div class="box-content">
				<div class="bottom-box-top">
					<img src="{{product.imagePath}}" alt="">
				</div>
				<div class="bottom-box-bottom">
					<h1>
						{{product.name}}
					</h1>
					<h2>
						{{product.type}}
					</h2>
					<div class="bottom-box-bottom-middle">
						<p>${{product.price}}.00</p>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
