<app-dragon-top-img></app-dragon-top-img>

<!-- Main Body Content -->

<div class="top">
	<div class="all-content">
		<app-dragon-intro></app-dragon-intro>
		<app-dragon-main></app-dragon-main>
		<app-dragon-techbox></app-dragon-techbox>
	</div>
</div>

<div class="middle">
	<div class="all-content">
		<app-dragon-inside-spacecraft></app-dragon-inside-spacecraft>
	</div>
</div>

<div class="bottom">
	<div class="all-content">
		<app-dragon-bottom-milestones></app-dragon-bottom-milestones>
		<app-dragon-bottom-updates></app-dragon-bottom-updates>
	</div>
</div>
