<!-- TOP IMAGE -->
<div class="top-img">
	<div class="top-img-text">
		<h1>
			THE WORLD'S
			<br>
			MOST POWERFUL
			<br>
			ROCKET
		</h1>
	</div>
	<img src="assets/fheavy_product_page1.jpg" alt="">
	<!-- <h1>FALCON 9 &amp; DRAGON TO RETURN ASTRONAUTS TO SPACE</h1> -->
</div>


<div class="all-content">

	<!-- FALCON 9 -->
		<div class="falcon9-heavy-content">
			<div class="intro-container">
				<div class="intro-top">
					<div class="intro-title">
						<h1>FALCON HEAVY</h1>
					</div>

					<div class="intro-photos">
						<img src="./assets/mini-falcon-heavy2.png" class="mini-falcon-heavy" height="335" width="64">
						<div class="nav-1">
							<img src="./assets/thumbs/falcon-heavy-1.png" class="img" height="75" width="75" alt="Falcon Heavy thumbnail">
							<br>
							<span>Photo</span>
							<br> Gallery
							<br>
							<a href="#">SEE ALL</a>
						</div>
						<div class="nav-2">
							FALCON HEAVY <a href="#">PRICING</a>
						</div>
						<div class="nav-3">
							<a href="#">SPACEX LAUNCH MANIFEST</a>
						</div>
					</div>
				</div>

				<div class="info-container">
					<div class="span4">
						<p id="span-left">When Falcon Heavy lifts off later this year, it will be the most powerful operational rocket in the world by a factor of two. With the ability to lift into orbit over 54 metric tons (119,000 lb)--a mass equivalent to a 737 jetliner loaded with passengers, crew, luggage and fuel--Falcon Heavy can lift more than twice the payload of the next closest operational vehicle, the Delta IV Heavy, at one-third the cost. Falcon Heavy draws upon the proven heritage and</p>
					</div>
					<div class="span4">
						<p id="span-right">reliability of Falcon 9. Its first stage is composed of three Falcon 9 nine-engine cores whose 27 Merlin engines together generate more than 5 million pounds of thrust at liftoff, equal to approximately eighteen 747 aircraft. Only the Saturn V moon rocket, last flown in 1973, delivered more payload to orbit. Falcon Heavy was designed from the outset to carry humans into space and restores the possibility of flying missions with crew to the Moon or Mars.</p>
					</div>
				</div>
			</div>
		</div>


<!-- PAYLOAD -->
	<div class="payload-content">
		<div class="payload-rows">
			<div class='payload-left'>
				<!-- PAYLOAD TOP SECTION -->
				<div class="payload-left-top">
					<div class="payload-tech-1">
						<h2>PAYLOAD</h2>
						<p>Falcon Heavy missions will deliver large payloads to orbit inside a composite fairing, but the rocket can also carry the Dragon spacecraft.</p>
					</div>
					<div class="payload-tech-2">
						<h3>COMPOSITE FAIRING</h3>
						<p>The composite payload fairing protects satellites during delivery to destinations in low Earth orbit (LEO), geosynchronous transfer orbit (GTO) and beyond.</p>
					</div>
				</div>

				<!-- SECOND STAGE -->
				<div class="payload-left-secondStage">
					<h2>SECOND STAGE</h2>
					<p>Falcon Heavy draws upon Falcon 9’s proven design, which minimizes stage separation events and maximizes reliability. The second-stage Merlin engine, identical to its counterpart on Falcon 9, delivers the rocket’s payload to orbit after the main engines cut off and the first-stage cores separate. The engine can be restarted multiple times to place payloads into a variety of orbits including low Earth, geosynchronous transfer orbit (GTO) and  geosynchronous orbit (GSO).</p>
					<div class="payload-left-secondStage-block">
						<div class="block-engine">
							<h4>ENGINE</h4>
						</div>
						<div class="block-thrust">
							<h4>BURN TIME</h4>
						</div>
					</div>

					<div class="payload-left-secondStage-block2">
						<div class="block-num">
							<h3>1</h3>
						</div>
						<div class="block-sec">
							<h3>397<span>sec</span></h3>
						</div>
					</div>

					<div class="payload-left-secondStage-block4">
						<div class="block-top">
							<h3>THRUST IN VACUUM</h3>
						</div>
						<div class="block-bottom">
							<h4>934<span class="span1">kN</span> <span class="span2">210,000 lbf</span></h4>
						</div>
					</div>
				</div>

				<!-- FIRST STAGE -->
				<div class="payload-left-firstStage">
					<h2>FIRST STAGE</h2>
					<p>Three cores make up the first stage of Falcon Heavy. The side cores, or boosters, are connected  at the base and at the top of the center core’s liquid oxygen tank. The three cores, with a total of 27 Merlin engines, generate 22,819 kilonewtons (5.13 million pounds) of thrust at liftoff. Shortly after liftoff the center core engines are throttled down. After the side cores separate, the center core engines throttle back up to full thrust.</p>
					<div class="payload-left-firstStage-block">
						<div class="block-engine">
							<h4>CORES</h4>
						</div>
						<div class="block-thrust">
							<h4>ENGINES</h4>
						</div>
					</div>

					<div class="payload-left-firstStage-block2">
						<div class="block-num">
							<h3>3</h3>
						</div>
						<div class="block-sec">
							<h3>27</h3>
						</div>
					</div>

					<div class="payload-left-firstStage-block3">
						<div class="block-top">
							<h3>THRUST AT SEA LEVEL</h3>
						</div>
						<div class="block-bottom">
							<h4>22,819<span class="span1">kN</span> <span class="span2">5,130,000 lbf</span></h4>
						</div>
					</div>

					<div class="payload-left-firstStage-block4">
						<div class="block-top">
							<h3>THRUST IN VACUUM</h3>
						</div>
						<div class="block-bottom">
							<h4>24,681<span class="span1">kN</span> <span class="span2">5,548,500 lbf</span></h4>
						</div>
					</div>
				</div>

				<div class="payload-content-box">
					<div class="box-header">
						<h3>BOOSTERS</h3>
					</div>
					<div class="box-description">
						<p>Each of Falcon Heavy’s side cores, or boosters, is equivalent to the first stage of a Falcon 9 rocket with nine Merlin engines. At liftoff, the boosters and the center core all operate at full thrust. Shortly after liftoff, the center core engines are throttled down. After the side cores separate, the center core engines throttle back up.</p>
					</div>
				</div>

				<div class="payload-content-box">
					<div class="box-header box2">
						<h3>THREE NINE-ENGINE CORES</h3>
					</div>
					<div class="box-description">
						<p>Inside each of Falcon Heavy’s three cores is a cluster of nine Merlin engines.  These same engines power Falcon 9, enabling efficiencies that make Falcon Heavy the most cost-effective heavy-lift launch vehicle in the world. With a total of 27 first-stage engines, Falcon Heavy has engine-out capability that no other launch vehicle can match—under most payload scenarios, it can sustain more than one unplanned engine shutdown at any point in flight and still successfully complete its mission.</p>
					</div>
				</div>


				<div class="payload-bottom-feature">
					<div class="feature-img">
						<img src="assets/falcon-heavy-merlin-engines.png" alt="">
					</div>
					<div class="feature-desc">
						<h5>FIG. 2</h5>
						<p>Core / Engine Layout</p>
					</div>
				</div>
			</div>


			<div class="payload-right">
				<img class="heavy-main-img" src="assets/falcon-heavy-render.png" alt="">
			</div>
		</div>
	</div>



	<!-- Bottom Black Box -->
	<div class="container bottom-box">
		<div class="row">
			<div class="col-sm-12">
				<h3>Technical Overview</h3>
			</div>
		</div>
		<div class="row table-row1">
			<div class="col-sm-3">
				<h4>HEIGHT</h4>
			</div>
			<div class="col-sm-3">
				<div class="col-sm-6">
					<h4>STAGES</h4>
				</div>
				<div class="col-sm-6">
					<h4>BOOSTERS</h4>
				</div>
			</div>
			<div class="col-sm-3">
				<h4>PAYLOAD TO <span id="text-gold">LEO</span></h4>
			</div>
			<div class="col-sm-3">
				<h4>PAYLOAD TO <span id="text-gold">MARS</span></h4>
			</div>
		</div>
		<div class="row table-row2">
			<div class="col-sm-3">
				<h5>70 m <span>229.6 ft</span></h5>
			</div>
			<div class="col-sm-3">
				<div class="col-sm-6">
					<h5>2</h5>
				</div>
				<div class="col-sm-6">
					<h5>2</h5>
				</div>
			</div>
			<div class="col-sm-3">
				<h5>54,400 kg <span>119,930 lb</span></h5>
			</div>
			<div class="col-sm-3">
				<h5>13,600 kg <span>29,980 lb</span></h5>
			</div>
		</div>

			<!-- Row 2 -->
		<div class="row table-row3">
			<div class="col-sm-3">
				<h4>TOTAL WIDTH</h4>
			</div>
			<div class="col-sm-3">
				<h4>MASS</h4>
			</div>
			<div class="col-sm-3">
				<h4>PAYLOAD TO <span id="text-gold">GTO</span></h4>
			</div>
			<div class="col-sm-3">
				<h4>PAYLOAD TO <span id="text-gold">PLUTO</span></h4>
			</div>
		</div>
		<div class="row table-row4">
			<div class="col-sm-3">
				<h5>12.2 m <span>39.9 ft</span></h5>
			</div>
			<div class="col-sm-3">
				<h5>1,420,788 kg <span>3,125,735 lb</span></h5>
			</div>
			<div class="col-sm-3">
				<h5>22,200 kg <span>48,940 lb</span></h5>
			</div>
			<div class="col-sm-3">
				<h5>2,900 kg <span>6,390 lb</span></h5>
			</div>
		</div>
	</div>

</div>





<!-- Bottom White Container -->
<div class="container-bottom">
	<!-- COMPARABLE IMAGE BOX -->
	<div class="bottom-comparables">
		<div class="comp-title">
			<h2>THE WORLD'S MOST POWERFUL ROCKET</h2>
		</div>
		<div class="comp-desc">
			<p><span>WITH MORE THAN 5 MILLION POUNDS OF THRUST AT LIFTOFF, FALCON</span> Heavy will be the most capable rocket flying. By comparison, the liftoff thrust of the Falcon Heavy equals approximately eighteen 747 aircraft at full power. Below is a comparison chart of the world’s heavy lift vehicles, based on historical launch data. Falcon Heavy can lift the equivalent of a fully loaded 737 jetliner--complete with passengers, luggage and fuel--to orbit.  Only the Saturn V moon rocket, last flown in 1973, delivered more payload to orbit than Falcon Heavy.</p>
		</div>
		<div class="comp-img">
			<img src="assets/fhgraphic_updated.jpg" alt="">
		</div>
	</div>



<!-- MILESTONE BOXES -->
	<div class="bottom-main-content">
		<div class="content-bar">
			<h2>RECENT FALCON HEAVY MILESTONES</h2>
		</div>

		<div class="bottom-boxes">
			<!-- Box 1 -->
			<div class="bottom-boxX">
				<div class="bottom-box-top">
					<img src="assets/falcon_heavy_milestone_2.jpg" alt="">
				</div>
				<div class="bottom-box-bottom">
					<a href="https://www.spacex.com/missions"><h1>
						LAUNCH MANIFEST
					</h1></a>
					<div class="bottom-box-bottom-middle">
						<p>SEPTEMBER 14, 2015 -  </p><a href="#">  SEE MANIFEST</a>
					</div>
					<div class="bottom-box-bottom-bottom">
						<p>See Falcon Heavy and Falcon 9 missions on manifest.</p>
					</div>
				</div>
			</div>
			<!-- Box 2 -->
			<div class="bottom-boxY">
				<div class="bottom-box-top">
					<img src="assets/falcon_heavy_milestone_3.jpg" alt="">
				</div>
				<div class="bottom-box-bottom">
					<a href="https://www.youtube.com/watch?v=4Ca6x4QbpoM"><h1>
						LAUNCH
						<br>
						ANIMATION
					</h1></a>
					<div class="bottom-box-bottom-middle">
						<p>JANUARY 16, 2015 -  </p><a href="#">  SEE ANIMATION</a>
					</div>
					<div class="bottom-box-bottom-bottom">
						<p>See Falcon Heavy in action.</p>
					</div>
				</div>
			</div>
			<!-- Box 3 -->
			<div class="bottom-boxZ">
				<div class="bottom-box-top">
					<img src="assets/falcon_9_milestone_3.jpg" alt="">
				</div>
				<div class="bottom-box-bottom">
					<a href="http://www.spacex.com/news/2014/10/16/spacex-completes-100th-merlin-1d-engine"><h1>
						100TH MERLIN 1D
						<br>
						ENGINE
					</h1></a>
					<div class="bottom-box-bottom-middle">
						<p>OCTOBER 16, 2014 -  </p><a href="#">  RELATED NEWS</a>
					</div>
					<div class="bottom-box-bottom-bottom">
						<p>Largest private producer of rocket engines worldwide.</p>
					</div>
				</div>
			</div>
		</div>



		<!-- Bottom News Updates -->
		<div class="bottom-news-updates">
			<div class="updates-row1">
				<div class="row1-header">
					<h2>FALCON HEAVY UPDATES</h2>
				</div>
				<div class="row1-content">
					<a href="#">SEE ALL FALCON HEAVY UPDATES --></a>
				</div>
			</div>

			<div class="updates-row2">
				<div class="row2-border">
					<div class="row2-1">
						<h4>FALCON HEAVY NEWS</h4>
					</div>
					<div class="row2-2">
						<a href="#">SEE ALL</a>
					</div>
				</div>
				<div class="row2-noborder">
					<div class="row2-3">
						<h5>FALCON HEAVY GALLERY</h5>
					</div>
					<div class="row2-4">
						<a href="#">SEE ALL</a>
					</div>
				</div>
			</div>

			<div class="updates-row3">
				<div class="row3-content">
					<p class="row-date">September 14, 2015</p>
					<h4 class="row-title">SPACEX SIGNS NEW COMMERCIAL LAUNCH CONTRACTS</h4>
					<p class="row-info">Two new orders for Falcon 9 and Falcon Heavy launch vehicles. <a href=#>READ ARTICLE</a></p>
				</div>
				<div class="row3-images">
					<div class="row3-img">
						<img src="assets/thumbs/thumb-fh-1-100x100.jpg" alt="">
					</div>
					<div class="row3-img">
						<img src="assets/thumbs/thumb-fh-6-100x100.jpg" alt="">
					</div>
					<div class="row3-img">
						<img src="assets/thumbs/thumb-fh-3-100x100.jpg" alt="">
					</div>
				</div>
			</div>

			<div class="updates-row4">
				<div class="row4-content">
					<p class="row-date">July 11, 2014</p>
					<h4 class="row-title">AIR FORCE CERTIFIES FALCON 9 FLIGHTS</h4>
					<p class="row-info">The Air Force has certified SpaceX's Falcon 9 launch system after three successful flights, a prerequisite for companies seeking to win business from the Air Force's EELV Program.  <a href=#>READ ARTICLE</a></p>
				</div>
				<div class="row4-images">
					<div class="row4-img">
						<img src="assets/thumbs/thumb-fh-4-100x100.jpg" alt="">
					</div>
					<div class="row4-img">
						<img src="assets/thumbs/thumb-fh-2-100x100.jpg" alt="">
					</div>
					<div class="row4-img">
						<img src="assets/thumbs/thumb-fh-5-100x100.jpg" alt="">
					</div>
				</div>
			</div>

		</div>


	</div>
</div>
