<div class="top">
	<div class="top-img">
		<img src="../assets/spaceX-logo.jpg" alt="">
	</div>
</div>

<div class="nav-header">
	<nav>
		<div class="nav-container">
			<ul>
				<li><a [routerLink]="['/shop/mens']">MENS</a></li>
				<li><a [routerLink]="['/shop/womens']">WOMENS</a></li>
				<li><a [routerLink]="['/shop/kids']">KIDS</a></li>
				<li><a [routerLink]="['/shop/accessories']">ACCESSORIES</a></li>
				<li><a [routerLink]="['/shop/premium']">PREMIUM</a></li>
				<li><a [routerLink]="['/shop/cart']"><i class="fa fa-cart-plus" aria-hidden="true"></i></a></li>
			</ul>
		</div>
	</nav>
</div>

<div class="container">
	<div class="mens-collection">
		<div class="display-photo">
			<img src="../assets/elon-musk-02.jpg" alt="">
		</div>
		<h1>THE MENS COLLECTION</h1>
	</div>

	<div class="divider">
		<hr>
	</div>

	<div class="bottom-boxes">
		<!-- Box 1 -->
		<div class="bottom-boxX">
			<div class="box-content">
				<div class="bottom-box-top">
					<img src="https://smhttp-ssl-48567.nexcesscdn.net/media/catalog/product/cache/1/small_image/168x168/9df78eab33525d08d6e5fb8d27136e95/n/a/navy_crs9_mens_back.png" alt="">
				</div>
				<div class="bottom-box-bottom">
					<h1>
						CRS-9 Mission Patch
					</h1>
					<h2>
						T-Shirt
					</h2>
					<div class="bottom-box-bottom-middle">
						<p>$22.00</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Box 2 -->
		<div class="bottom-boxY">
			<div class="box-content">
				<div class="bottom-box-top">
					<img src="https://smhttp-ssl-48567.nexcesscdn.net/media/catalog/product/cache/1/small_image/168x168/9df78eab33525d08d6e5fb8d27136e95/r/o/royal_jcsat16_mens_back.png" alt="">
				</div>
				<div class="bottom-box-bottom">
					<h1>
						JCSAT-16 Mission Patch
					</h1>
					<h2>
						T-Shirt
					</h2>
					<div class="bottom-box-bottom-middle">
						<p>$22.00 </p>
					</div>
				</div>
			</div>
		</div>

		<!-- Box 3 -->
		<div class="bottom-boxZ">
			<div class="box-content">
				<div class="bottom-box-top">
					<img src="https://smhttp-ssl-48567.nexcesscdn.net/media/catalog/product/cache/1/small_image/168x168/9df78eab33525d08d6e5fb8d27136e95/b/l/black_drone_ship_mens_front.png" alt="">
				</div>
				<div class="bottom-box-bottom">
					<h1>
						Drone Ship Landing
					</h1>
					<h2>
						T-Shirt
					</h2>
					<div class="bottom-box-bottom-middle">
						<p>$22.00</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Box 4 -->
		<div class="bottom-boxLAST">
			<div class="box-content">
				<div class="bottom-box-top">
					<img src="https://smhttp-ssl-48567.nexcesscdn.net/media/catalog/product/cache/1/small_image/168x168/9df78eab33525d08d6e5fb8d27136e95/b/l/black_spacex_back_2_1.png" alt="">
				</div>
				<div class="bottom-box-bottom">
					<h1>
						SpaceX Pocket Tee
					</h1>
					<h2>
						T-Shirt
					</h2>
					<div class="bottom-box-bottom-middle">
						<p>$22.00</p>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>
