<div class="main">
	<div class="header">
		<div class="header-left">
			<h1>
				CONTACT
				<br>
				SPACEX
			</h1>
		</div>
		<div class="header-right">
			<h4>
				SPACEX HEADQUARTERS
				<br>
				Rocket Road
				<br>
				Hawthorne, California
				<br>
				<br>
				310-363-6000
			</h4>
		</div>
	</div>
	<div class="map">
		<img src="./assets/spacex_company_map-53116.png" alt="">
	</div>
	<div class="footnote">
		<p>
			SpaceX is a private company founded in 2002 by CEO and Lead Designer
			Elon Musk. The company has more than 4,000 employees at its headquarters
			in Hawthorne, California; launch facilities at Cape Canaveral Air Force
			Station, Florida, and Vandenberg Air Force Base, California; a
			rocket-development facility in McGregor, Texas; and offices in Houston,
			Texas; Chantilly, Virginia; and Washington, DC. SpaceX has suppliers in
			all 50 states; see our SpaceX Supplier/Contractor Policy
			<a href="http://www.spacex.com/news/2013/07/29/spacex-suppliercontractor-policy">here</a>.
		</p>
	</div>
</div>
