.main-content {
	width: 1300px;
	height: 532px;
	margin: 0 auto;
}
.main-content img {
	width: 100%;
	margin: 0 auto;
}
.text {
	margin-top: -130px;
}
.text h1 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	text-shadow: 0 1px 3px black;
}
