<div class="content-bar">
	<h2>RECENT FALCON 9 MILESTONES</h2>
</div>

<div class="bottom-boxes">
	<!-- Box 1 -->
	<div class="bottom-boxX">
		<div class="bottom-box-top">
			<img src="../assets/falcon9_thumb_droneship.jpg" alt="">
		</div>
		<div class="bottom-box-bottom">
			<a href="https://www.youtube.com/watch?v=sYmQQn_ZSys"><h1>
				DRONESHIP
				<br>
				LANDING
			</h1></a>
			<div class="bottom-box-bottom-middle">
				<p>April 8, 2016 -  </p><a href="#">  SEE MORE</a>
			</div>
			<div class="bottom-box-bottom-bottom">
				<p>First successful landing of Falcon 9 first stage on droneship.</p>
			</div>
		</div>
	</div>
	<!-- Box 2 -->
	<div class="bottom-boxY">
		<div class="bottom-box-top">
			<img src="../assets/dragon_thumb.jpg" alt="">
		</div>
		<div class="bottom-box-bottom">
			<a href="https://www.youtube.com/watch?v=7pUAydjne5M"><h1>
				SPACE STATION
				<br>
				RESUPPLY
			</h1></a>
			<div class="bottom-box-bottom-middle">
				<p>April 8, 2016 -  </p><a href="#">  SEE MORE</a>
			</div>
			<div class="bottom-box-bottom-bottom">
				<p>Dragon returns to the Space Station, delivering supplies for the crew.</p>
			</div>
		</div>
	</div>
	<!-- Box 3 -->
	<div class="bottom-boxZ">
		<div class="bottom-box-top">
			<img src="../assets/falcon9_thumb_lz1.jpg" alt="">
		</div>
		<div class="bottom-box-bottom">
			<a href="https://www.youtube.com/watch?v=ANv5UfZsvZQ"><h1>
				THE FALCON HAS
				<br>
				LANDED
			</h1></a>
			<div class="bottom-box-bottom-middle">
				<p>December 21, 2015 -  </p><a href="#">  SEE MORE</a>
			</div>
			<div class="bottom-box-bottom-bottom">
				<p>First successful landing of Falcon 9 first stage on land.</p>
			</div>
		</div>
	</div>
</div>
