<div class="main">
	<div class="left-content">
		<div class="left-img">
			<img src="../careers2/assets/cycle_large2.jpg" alt="">
		</div>
		<div class="left-img">
			<img src="../careers2/assets/cycle_large12.jpg" alt="">
		</div>
	</div>
	<div class="right-content">
		<div class="right-main-content">
			<div class="info-box">
				<h4>SOFTWARE ENGINEERING</h4>
				<p>Write code that autonomously pilots our vehicles in space, simulates countless flight scenarios, translates petabytes of data, performs computational fluid dynamics, and more.</p>
			</div>
			<div class="info-box">
				<h4>HARDWARE ENGINEERING</h4>
				<p>Nearly every board and box that controls, communicates, actuates, or powers our avionics is built in-house employing the same iterative approach used in the commercial industries.</p>
			</div>
			<div class="info-box">
				<h4>STRUCTURES ENGINEERING</h4>
				<p>Our goal is to have the most mass-efficient primary and secondary structures possible while exceeding all factors of safety.</p>
			</div>
			<div class="info-box">
				<h4>PROPULSION ENGINEERING</h4>
				<p>With Merlin, Draco, and Kestrel as flight-proven examples along with Super Draco and Raptor in development, you will not find a more robust engine development program in the world.</p>
			</div>
			<div class="info-box">
				<h4>LAUNCH &amp; TEST</h4>
				<p>We have built some of the most efficient launch facilities and a test facility in Texas that exceeds one engine test per day.</p>
			</div>
		</div>
	</div>
</div>
