<!-- Bottom Black Box -->
<div class="container bottom-box">
	<div class="row">
		<div class="col-sm-12">
			<h3>Technical Overview</h3>
		</div>
	</div>
	<div class="row table-row1">
		<div class="col-sm-3">
			<h4>HEIGHT</h4>
		</div>
		<div class="col-sm-3">
			<div class="col-sm-6">
				<h4>STAGES</h4>
			</div>
			<div class="col-sm-6">
				<h4>BOOSTERS</h4>
			</div>
		</div>
		<div class="col-sm-3">
			<h4>PAYLOAD TO <span id="text-gold">LEO</span></h4>
		</div>
		<div class="col-sm-3">
			<h4>PAYLOAD TO <span id="text-gold">MARS</span></h4>
		</div>
	</div>
	<div class="row table-row2">
		<div class="col-sm-3">
			<h5>70 m <span>229.6 ft</span></h5>
		</div>
		<div class="col-sm-3">
			<div class="col-sm-6">
				<h5>2</h5>
			</div>
			<div class="col-sm-6">
				<h5>2</h5>
			</div>
		</div>
		<div class="col-sm-3">
			<h5>54,400 kg <span>119,930 lb</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>13,600 kg <span>29,980 lb</span></h5>
		</div>
	</div>

		<!-- Row 2 -->
	<div class="row table-row3">
		<div class="col-sm-3">
			<h4>TOTAL WIDTH</h4>
		</div>
		<div class="col-sm-3">
			<h4>MASS</h4>
		</div>
		<div class="col-sm-3">
			<h4>PAYLOAD TO <span id="text-gold">GTO</span></h4>
		</div>
		<div class="col-sm-3">
			<h4>PAYLOAD TO <span id="text-gold">PLUTO</span></h4>
		</div>
	</div>
	<div class="row table-row4">
		<div class="col-sm-3">
			<h5>12.2 m <span>39.9 ft</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>1,420,788 kg <span>3,125,735 lb</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>22,200 kg <span>48,940 lb</span></h5>
		</div>
		<div class="col-sm-3">
			<h5>2,900 kg <span>6,390 lb</span></h5>
		</div>
	</div>
</div>
