.content {
	width: 1030px;
	height: 1358px;
	/*border: 1px solid blue;*/
	display: flex;
}

/* Left Row */
.row-left {
	/*border: 1px solid red;*/
	width: 395px;
	height: 100%;
}
.overview {}

.overview h2 {
	font-size: 30px;
	line-height: 24px;
	font-weight: bold;
	color: #ffffff;
}
.block {
	width: 310px;
}
.block-top {
	width: 100%;
	border-bottom: 1px solid #ffffff;
	display: flex;
	justify-content: space-between;
}
.block-top h3 {
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;
	margin-top: 30px;
}
.block-top img {
	height: 14px;
	margin-top: 30px;
}
.block-bottom h4 {
	font-size: 50px;
	line-height: 40px;
	font-weight: 300;
	color: #ffffff;
}
.span1 {
	font-size: 30px;
	line-height: 40px;
	color: #ffffff;
	font-weight: 300;
}
.span2 {
	font-size: 23px;
	line-height: 40px;
	font-weight: 300;
	color: #999999;
}


.pressurized {
	width: 395px;
	height: 395px;
	/*border: 1px solid green;*/
	margin-top: 250px;
}
.pressurized h2 {
	font-size: 30px;
	line-height: 24px;
	color: #ffffff;
	font-weight: bold;
}
.pressure-content {

}
.pressure-content p {
	font-family: Arial;
	font-size: 14px;
	line-height: 23px;
	color: #cccccc;
}

.trunk h2 {
	font-size: 30px;
	line-height: 24px;
	color: #ffffff;
	font-weight: bold;
}
.trunk-content p {
	font-family: Arial;
	font-size: 14px;
	line-height: 23px;
	color: #cccccc;
}


/* Middle Row */
.row-middle {
	/*border: 1px solid blue;*/
	width: 325px;
	height: 100%;
}
.dragon-top {
	display: flex;
	justify-content: center;
}
.dragon-top img {
	z-index: 20;
}
.dragon-middle {
	display: flex;
	justify-content: center;
}
.dragon-middle img {
	z-index: 1;
	margin-top: -27px;
}
.dragon-bottom {
	display: flex;
	justify-content: center;
	margin-top: -51px;
}
.dragon-bottom img {
	z-index: 5;
}

.dragon-pressurized {
	display: flex;
	justify-content: center;
	margin-top: 150px;
}

.dragon-trunk {
	display: flex;
	justify-content: center;
	margin-top: 200px;
}




/* Right Row */
.row-right {
	/*border: 1px solid orange;*/
	width: 310px;
	height: 100%;
}

.top-right {
	margin-top: 55px;
}



.top-dog {
	margin-top: 60px;
}
.img-boxA {
	height: 271px;
	width: 202px;
	margin: 250px auto 0 auto;
}
.img-boxB {
	height: 271px;
	width: 202px;
	margin: 140px auto 0 auto;
}

.img-2 {
	margin-top: 40px;
}
.img-boxA p {
	font-size: 10px;
	line-height: 12px;
	color: #ffffff;
	font-weight: bold;
}
.img-boxB p {
	font-size: 10px;
	line-height: 12px;
	color: #ffffff;
	font-weight: bold;
}

.img-boxA h5 {
	font-size: 13px;
	line-height: 20px;
	color: #999999;
	font-family: Arial;
}
.img-boxB h5 {
	font-size: 13px;
	line-height: 20px;
	color: #999999;
	font-family: Arial;
}
