<div class="content">
	<div class="row-left">

		<div class="overview">
			<h2>OVERVIEW</h2>
			<div class="block">
				<div class="block-top">
					<h3>TOTAL LAUNCH PAYLOAD MASS</h3>
					<img src="../assets/arrow-up.png" alt="">
				</div>
				<div class="block-bottom">
					<h4>6,000<span class="span1">kg</span> <span class="span2">13,228 lbs</span></h4>
				</div>
			</div>
			<div class="block">
				<div class="block-top">
					<h3>TOTAL LAUNCH PAYLOAD VOLUME</h3>
					<img src="../assets/arrow-up.png" alt="">
				</div>
				<div class="block-bottom">
					<h4>25<span class="span1">m3</span> <span class="span2">883 ft3</span></h4>
				</div>
			</div>
		</div>

		<div class="pressurized">
			<h2>PRESSURIZED SECTION</h2>
			<div class="pressure-content">
				<p>
					The pressurized section of the spacecraft, also referred to as
					the capsule, is designed to carry both cargo and humans into space.
					Towards the base of the capsule but outside the pressurized structure
					are the
					<a href="http://www.spacex.com/news/2013/04/04/draco-thrusters">Draco Thrusters</a>
					,
					<a href="http://www.spacex.com/news/2013/05/16/dragon-guidance-navigation-control-gnc-bay">Dragon's guidance navigation and control (GNC) bay and</a>
					<a href="http://www.spacex.com/news/2013/04/04/pica-heat-shield"> Dragon's advanced heat shield</a>
					.
				</p>
			</div>

			<div class="block">
				<div class="block-top">
					<h3>SPACECRAFT PAYLOAD VOLUME</h3>
				</div>
				<div class="block-bottom">
					<h4>11<span class="span1">m3</span> <span class="span2">388 ft3</span></h4>
				</div>
			</div>
		</div>

		<div class="trunk">
			<h2>TRUNK</h2>
			<div class="trunk-content">
				<p>
					Dragon’s trunk supports the spacecraft during ascent to space, carries unpressurized cargo and houses Dragon’s solar arrays. The trunk and solar arrays remain attached to Dragon until shortly before reentry to Earth’s atmosphere, when they are jettisoned.
				</p>
			</div>

			<div class="block">
				<div class="block-top">
					<h3>TRUNK PAYLOAD VOLUME</h3>
				</div>
				<div class="block-bottom">
					<h4>14<span class="span1">m3</span> <span class="span2">494 ft3</span></h4>
				</div>
			</div>
		</div>
	</div>



	<div class="row-middle">
		<div class="dragon-complete">
			<div class="dragon-top">
				<img src="../assets/nose-cone3.png" alt="">
			</div>
			<div class="dragon-middle">
				<img src="../assets/spacecraft.png" alt="">
			</div>
			<div class="dragon-bottom">
				<img src="../assets/trunk.png" alt="">
			</div>
		</div>

		<div class="dragon-pressurized">
			<img src="../assets/spacecraft.png" alt="">
		</div>

		<div class="dragon-trunk">
			<img src="../assets/trunk.png" alt="">
		</div>

	</div>



	<div class="row-right">
		<div class="top-right">
			<div class="block">
				<div class="block-top">
					<h3 class="top-dog">TOTAL RETURN PAYLOAD MASS</h3>
					<img src="../assets/arrow-down.png" alt="">
				</div>
				<div class="block-bottom">
					<h4>3,000<span class="span1">kg</span> <span class="span2">6,614 lbs</span></h4>
				</div>
			</div>
			<div class="block">
				<div class="block-top">
					<h3>TOTAL RETURN PAYLOAD VOLUME</h3>
					<img src="../assets/arrow-down.png" alt="">
				</div>
				<div class="block-bottom">
					<h4>11<span class="span1">m3</span> <span class="span2">388 ft3</span></h4>
				</div>
			</div>
		</div>

		<div class="img-boxA">
				<img src="../assets/dragon-spacecraft-line-drawing.png" alt="">
				<p>FIG. 1</p>
				<h5>Schematic of the available space for payload in the pressurized section.</h5>
		</div>

		<div class="img-boxB">
				<img class="img-2" src="../assets/trunk-drawing.png" alt="">
				<p>FIG. 2</p>
				<h5>Schematic of the available space for payload in the trunk.</h5>
		</div>
	</div>
</div>
